/*추후 반응형 디자인 필요*/
.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
}

.Home select{
    padding: 0.2rem 0.1rem;
}

.Home_logoBtn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.Home_logoBtn img{
    width: 10rem;
    height: 10rem;
    margin-bottom: 2rem;
}

.Home_logoBtn img:hover{
    cursor: pointer;
}

.Home_voteClass{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.Home_voteClass span,
.Home_regions span,
.Home_regions_unavailable span{
    font-size: 1.8rem;
    display: block;
    margin-bottom: 1rem;
}

.Home_voteClass select,
.Home_voteId select,
.Home_regions select,
.Home_regions_unavailable select{
    width: 18rem;
}
.Home_voteId{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.Home_regions{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@keyframes Home_region_disappear {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    50%{
        transform: translate(20rem);
        opacity: 0;
    }
    100%{
        display: none;
        transform: translate(20rem);
        height: 0%;
    }
}
.Home_regions_unavailable{
    animation: 1s Home_region_disappear ease;
    opacity: 0;
    z-index: -99;
    height: 0;
}

.Home_region1{
    margin-bottom: 1rem;
}

@keyframes Home_btn_appear {
    from {
        transform: translateY(-2rem);
        opacity: 0;
    }
    
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.available{
    visibility: visible;
    animation: 1s Home_btn_appear ease;
    margin-top: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 3rem;
    border: 0px;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.available img{
    transition: opacity 1.5s ease;
    animation: 1s Home_btn_appear ease;
    width: 5rem;
    margin-top: 0.2rem;
}

.available:hover{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    box-shadow: 0rem 0rem 1rem gray;
    transform: scale(0.9);
}

.unavailable{
    visibility: hidden;
    width: 5rem;
    height: 6.7rem;
}

.Home_hide{
    display: none;
}
@keyframes guide {
    0%{
        transform: scale(1);
    }
    5%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.Home_guide{
    animation: 5s guide infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.Home_guideEmoji{
    font-size: 2.5rem;
}