.Main{
    display: flex;
    width: 60%;
    margin-bottom: 3rem;
    box-shadow: 1px 3px 10px gray;
}

.Contents{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 3rem 0 3rem;
}

@media screen and (max-width : 768px) {
    :root{
        font-size: 13px;
    }
    .Main{
        width: 100%;
    }
    .Nav{
        background-color: white;
        position: fixed;
        display: flex;
        flex-direction: column;
    }
    .Candidates_list_name{
        width: 4rem;
        padding-right: 1rem;
    }
    .Candidates_list_name > h5{
        font-size: 0.9rem;
    }
    .Candidates_list_name > h3{
        width: 4rem;
        font-size: 1.5rem;
    }
    .Candidates_list_info{
        width: 100%;
    }
    .Candidates_list_info > h4{
        display: flex;
        justify-content: right;
        align-items: center;
        font-size: 1.3rem;
    }
    .Candidate_subHeader > h3{
        font-size: 1.1rem;
    }
    .Candidate_subHeader > div > h4{
        margin-left: 0.2rem;
    }
}