.Nav{
    display: flex;
    flex-direction: column;
}

.Nav_toggleBtn{
    position: absolute;
    padding-top: 2rem;
    padding-left: 2rem;
}
.Nav_toggleBtn svg {
    font-size: 1.5rem;
}

.Nav_toggleBtn:hover,
.Nav_searchBtn:hover{
    cursor: pointer;
}

.show{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5.5rem 2rem 1rem 2.2rem;
    box-shadow: 5px 0px 10px gray;
}

.hide{
    display: none;
}

.Nav_search{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
}

.Nav_searchText{
    flex-grow: 1;
    font-size: 0.4rem;
    border: none;
}
.Nav_searchText:focus{
    outline-width: 0;
}

.Nav_lists span{
    font-size: 0.8rem;
}