@import "./css/Header.css";
@import "./css/Candidates.css";
@import "./css/Candidate.css";
@import "./css/Main.css";
@import "./css/Nav.css";
@import "./css/Home.css";

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}