@import "./css/Header.css";
@import "./css/Candidates.css";
@import "./css/Candidate.css";
@import "./css/Main.css";
@import "./css/Home.css";

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

.Error{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Error > span{
  margin-top: 1rem;
  font-size: 1.5rem;
}

.Error > div a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.Error img{
  width: 10rem;
}
.Error img:hover{
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  transform: scale(0.9);
}
.Error img + span{
  margin-top: 1rem;
  font-size: 1rem;
}